In [17]:
import pandas as pd
df = pd.read_excel('Raw Unstructured data.xlsx')
display(df.head())

,source.name,user/id,user/name,profileid,profilename,facebookid,postid,commenturl,date,feedbackid,pagename,facebookurl,text
0,dataset 1.xlsx,UD10001,user_1,61586548322218,Family Kitchen,1.429272e+15,NaN,https://www.facebook.com/CookingShooking/video...,2026-01-14 00:00:00,ZmVlZGJhY2s6MTQyOTI3MjAxODc3MTMzMV8xMTk3ODI4Mz...,NaN,https://www.facebook.com/share/v/1fp66pRi5w/,So sweet ❤️
1,dataset 1.xlsx,UD10002,user_2,100050656381825,Cooking Shooking,1.429272e+15,NaN,https://www.facebook.com/CookingShooking/video...,2026-01-13 00:00:00,ZmVlZGJhY2s6MTQyOTI3MjAxODc3MTMzMV8xMzY1MTk3ND...,NaN,https://www.facebook.com/share/v/1fp66pRi5w/,सिलिकॉन का बेकिंग वाला मैट का लिंक - https://a...
2,dataset 1.xlsx,UD10003,user_3,pfbid0YwFZFVUAZdfTLzu42YYb6fb32DRjEgGZMWhnTQXN...,Paresh Gandhi,1.429272e+15,NaN,https://www.facebook.com/CookingShooking/video...,2026-01-13 00:00:00,ZmVlZGJhY2s6MTQyOTI3MjAxODc3MTMzMV83MzkwODUwNT...,NaN,https://www.facebook.com/share/v/1fp66pRi5w/,nice one request for office carry tiffen su...
3,dataset 1.xlsx,UD10004,user_4,pfbid0TXATjrVSQqYbwWS4TmLXZoXJTpWf9TeP62BdiMS5...,Neela D,1.429272e+15,NaN,https://www.facebook.com/CookingShooking/video...,2026-01-13 00:00:00,ZmVlZGJhY2s6MTQyOTI3MjAxODc3MTMzMV82Njc5Mjc5ND...,NaN,https://www.facebook.com/share/v/1fp66pRi5w/,Mai aisihi banati hu...tilki banati hu
4,dataset 1.xlsx,UD10005,user_5,100086476417053,Quick And Easy Tadka,1.429272e+15,NaN,https://www.facebook.com/CookingShooking/video...,2026-01-13 00:00:00,ZmVlZGJhY2s6MTQyOTI3MjAxODc3MTMzMV85MjA1MDMyOT...,NaN,https://www.facebook.com/share/v/1fp66pRi5w/,“Gud aur mungfali se lekar rajgira–til mix tak...

In [18]:
for col in df:
    print(col)

source.name
user/id
user/name
profileid
profilename
facebookid
postid
commenturl
date
feedbackid
pagename
facebookurl
text

In [19]:
final_df = df[['date','user/id','user/name','profilename','postid','text']].copy()
display(final_df.head())

,date,user/id,user/name,profilename,postid,text
0,2026-01-14 00:00:00,UD10001,user_1,Family Kitchen,NaN,So sweet ❤️
1,2026-01-13 00:00:00,UD10002,user_2,Cooking Shooking,NaN,सिलिकॉन का बेकिंग वाला मैट का लिंक - https://a...
2,2026-01-13 00:00:00,UD10003,user_3,Paresh Gandhi,NaN,nice one request for office carry tiffen su...
3,2026-01-13 00:00:00,UD10004,user_4,Neela D,NaN,Mai aisihi banati hu...tilki banati hu
4,2026-01-13 00:00:00,UD10005,user_5,Quick And Easy Tadka,NaN,“Gud aur mungfali se lekar rajgira–til mix tak...

In [20]:
import numpy as np

mask = final_df['postid'].isna()

final_df.loc[mask, 'postid'] = [
    f"PD{str(i+1).zfill(4)}" 
    for i in range(mask.sum())
]
display(final_df.head(2))

,date,user/id,user/name,profilename,postid,text
0,2026-01-14 00:00:00,UD10001,user_1,Family Kitchen,PD0001,So sweet ❤️
1,2026-01-13 00:00:00,UD10002,user_2,Cooking Shooking,PD0002,सिलिकॉन का बेकिंग वाला मैट का लिंक - https://a...

In [26]:
final_df = final_df.rename(columns={
    'user/id': 'CUSTOMER_ID',
    'profilename': 'CUSTOMER_NAME',
    'postid': 'PRODUCT_ID',
    'text': 'TEXT'
})
display(final_df.head())

,date,CUSTOMER_ID,user/name,CUSTOMER_NAME,PRODUCT_ID,TEXT
0,2026-01-14 00:00:00,UD10001,user_1,Family Kitchen,PD0001,So sweet ❤️
1,2026-01-13 00:00:00,UD10002,user_2,Cooking Shooking,PD0002,सिलिकॉन का बेकिंग वाला मैट का लिंक - https://a...
2,2026-01-13 00:00:00,UD10003,user_3,Paresh Gandhi,PD0003,nice one request for office carry tiffen su...
3,2026-01-13 00:00:00,UD10004,user_4,Neela D,PD0004,Mai aisihi banati hu...tilki banati hu
4,2026-01-13 00:00:00,UD10005,user_5,Quick And Easy Tadka,PD0005,“Gud aur mungfali se lekar rajgira–til mix tak...

In [32]:
finall_df=final_df[['date','CUSTOMER_ID','CUSTOMER_NAME','PRODUCT_ID','TEXT']].copy()
display(finall_df.head())

,date,CUSTOMER_ID,CUSTOMER_NAME,PRODUCT_ID,TEXT
0,2026-01-14 00:00:00,UD10001,Family Kitchen,PD0001,So sweet ❤️
1,2026-01-13 00:00:00,UD10002,Cooking Shooking,PD0002,सिलिकॉन का बेकिंग वाला मैट का लिंक - https://a...
2,2026-01-13 00:00:00,UD10003,Paresh Gandhi,PD0003,nice one request for office carry tiffen su...
3,2026-01-13 00:00:00,UD10004,Neela D,PD0004,Mai aisihi banati hu...tilki banati hu
4,2026-01-13 00:00:00,UD10005,Quick And Easy Tadka,PD0005,“Gud aur mungfali se lekar rajgira–til mix tak...

In [30]:
pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in c:\users\hp\anaconda3\anacondanew\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\hp\anaconda3\anacondanew\lib\site-packages (from nltk>=3.9->textblob) (8.1.8)
Requirement already satisfied: joblib in c:\users\hp\anaconda3\anacondanew\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hp\anaconda3\anacondanew\lib\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\anacondanew\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\anacondanew\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ---------------------------------------- 624.3/624.3 kB 1.5 MB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.19.0
Note: you may need to restart the kernel to use updated packages.

In [31]:
from textblob import TextBlob

# Ensure TEXT column is string
finall_df['TEXT'] = finall_df['TEXT'].astype(str)

# Sentiment Score
finall_df['SENTIMENT_SCORE'] = finall_df['TEXT'].apply(
    lambda x: TextBlob(x).sentiment.polarity
)

# Sentiment Label
def get_label(score):
    if score > 0:
        return "Positive"
    elif score < 0:
        return "Negative"
    else:
        return "Neutral"

finall_df['SENTIMENT_LABEL'] = finall_df['SENTIMENT_SCORE'].apply(get_label)

finall_df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_10264\2963275256.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finall_df['TEXT'] = finall_df['TEXT'].astype(str)

,date,CUSTOMER_ID,CUSTOMER_NAME,PRODUCT_ID,TEXT,SENTIMENT_SCORE,SENTIMENT_LABEL
0,2026-01-14 00:00:00,UD10001,Family Kitchen,PD0001,So sweet ❤️,0.350000,Positive
1,2026-01-13 00:00:00,UD10002,Cooking Shooking,PD0002,सिलिकॉन का बेकिंग वाला मैट का लिंक - https://a...,0.000000,Neutral
2,2026-01-13 00:00:00,UD10003,Paresh Gandhi,PD0003,nice one request for office carry tiffen su...,0.600000,Positive
3,2026-01-13 00:00:00,UD10004,Neela D,PD0004,Mai aisihi banati hu...tilki banati hu,0.000000,Neutral
4,2026-01-13 00:00:00,UD10005,Quick And Easy Tadka,PD0005,“Gud aur mungfali se lekar rajgira–til mix tak...,0.683333,Positive

In [33]:
finall_df.to_excel("sentiment_final_UnstructuredDataset.xlsx", index=False)

In [34]:
dff = pd.read_excel('Structured Dataset - Nithya.xlsx')
display(dff.head())

,Timestamp,Email,Name,Age,Gender,City,Preferred_Food_Type,Brand_Purchased,Food_Items_Consumed,Calorie_Range,...,Overall_Quality_Rating,Overall_Experience_Rating,Purchase_Motivation,Expectations,Favorite_Food_Item,Food_Preference_Category,Nutritional_Claims,Feedback,Recommendation,Purchase_Channel
0,2026/01/18 12:31:38 PM GMT+5:30,giduthurirekha@gmail.com,Rekha Giduthuri,19,Female,Bhimavaram,Non-Vegeterian,KFC,Biryani,Medium (150–250 calories),...,4.0,4,Taste and Price,Price;Taste;Quality,NaN,Non-Vegetarian,High Fiber;High Protein,Good,Yes,Online Store
1,2026/01/19 10:53:33 PM GMT+5:30,masterchoa99@gmail.com,KLV SATYA VANI,45,Female,Bhimavaram,Veg,Heritage,Biryani,Low (0–150 calories),...,4.0,4,Health,Hygiene,Biryani,Veg;Low Calorie Diet,High Fiber;High Protein,Good,Yes,Online Store;Others
2,2026/01/20 8:15:32 AM GMT+5:30,srinugiduthuri18@gmail.com,Giduthuri.Srinivasu,62,Male,Bhimavaram,Non-Veg,Britannia,Biscuits,Low (0–150 calories),...,2.0,2,Health,Hygiene,Idli,Non-Vegetarian,High Fiber,Good,Yes,Store
3,2026/01/20 12:18:02 PM GMT+5:30,lakshmi.murahari8871@gmail.com,Venkata Lakshmi Yerra,53,Female,Bhimavaram,Veg,KFC,Fruit Juice,Low (0–150 calories),...,2.0,2,Health,Hygiene,Home-cooked Food,Low Calorie Diet,High Fiber,Good,Yes,Online Store
4,2026/01/20 12:19:12 PM GMT+5:30,umasuresh2206@gmail.com,M.Uma Maheswari,42,Female,Bhimavaram,Veg,Haldiram's,Namkeen,Low (0–150 calories),...,5.0,5,Distance / Convenience,Hygiene;Quality,Fried Rice,Veg,High Protein,Good,Yes,Store

In [36]:
dff.shape

(3949, 23)

In [37]:
for col in dff:
    print(col)

Timestamp
Email
Name
Age
Gender
City
Preferred_Food_Type
Brand_Purchased
Food_Items_Consumed
Calorie_Range
Price_Rating
Packaging_Quality
Taste_Rating
Overall_Quality_Rating
Overall_Experience_Rating
Purchase_Motivation
Expectations
Favorite_Food_Item
Food_Preference_Category
Nutritional_Claims
Feedback
Recommendation
Purchase_Channel

In [42]:
dff['CustomerID'] = 'CUST' + (dff.index + 1).astype(str).str.zfill(4)
dff['ProductID'] = dff['Food_Items_Consumed'].astype('category').cat.codes

In [43]:
def get_sentiment(text):
    analysis = TextBlob(str(text))
    polarity = analysis.sentiment.polarity
    
    if polarity > 0:
        return "Positive"
    elif polarity < 0:
        return "Negative"
    else:
        return "Neutral"

dff['Sentiment_Label'] = dff['Feedback'].apply(get_sentiment)

dff['Sentiment_Score'] = dff['Feedback'].apply(
    lambda x: TextBlob(str(x)).sentiment.polarity
)

In [44]:
display(dff.head())

,Timestamp,Email,Name,Age,Gender,City,Preferred_Food_Type,Brand_Purchased,Food_Items_Consumed,Calorie_Range,...,Favorite_Food_Item,Food_Preference_Category,Nutritional_Claims,Feedback,Recommendation,Purchase_Channel,CustomerID,ProductID,Sentiment_Label,Sentiment_Score
0,2026/01/18 12:31:38 PM GMT+5:30,giduthurirekha@gmail.com,Rekha Giduthuri,19,Female,Bhimavaram,Non-Vegeterian,KFC,Biryani,Medium (150–250 calories),...,NaN,Non-Vegetarian,High Fiber;High Protein,Good,Yes,Online Store,CUST0001,42,Positive,0.7
1,2026/01/19 10:53:33 PM GMT+5:30,masterchoa99@gmail.com,KLV SATYA VANI,45,Female,Bhimavaram,Veg,Heritage,Biryani,Low (0–150 calories),...,Biryani,Veg;Low Calorie Diet,High Fiber;High Protein,Good,Yes,Online Store;Others,CUST0002,42,Positive,0.7
2,2026/01/20 8:15:32 AM GMT+5:30,srinugiduthuri18@gmail.com,Giduthuri.Srinivasu,62,Male,Bhimavaram,Non-Veg,Britannia,Biscuits,Low (0–150 calories),...,Idli,Non-Vegetarian,High Fiber,Good,Yes,Store,CUST0003,59,Positive,0.7
3,2026/01/20 12:18:02 PM GMT+5:30,lakshmi.murahari8871@gmail.com,Venkata Lakshmi Yerra,53,Female,Bhimavaram,Veg,KFC,Fruit Juice,Low (0–150 calories),...,Home-cooked Food,Low Calorie Diet,High Fiber,Good,Yes,Online Store,CUST0004,635,Positive,0.7
4,2026/01/20 12:19:12 PM GMT+5:30,umasuresh2206@gmail.com,M.Uma Maheswari,42,Female,Bhimavaram,Veg,Haldiram's,Namkeen,Low (0–150 calories),...,Fried Rice,Veg,High Protein,Good,Yes,Store,CUST0005,777,Positive,0.7

In [46]:
dff.to_excel("final_StructuredDataset.xlsx", index=False)